
.writer{
    text-align: center;
}

.div-writer-profile {
    text-transform: uppercase;
    font-size: 14px;
}

.div-writer-picture img{
    border-radius: 50%;
    height: 164px;
    width: 164px;
    object-fit: cover;
}

/*
@media (width >= 900px) {

}
*/
