
.div-social-links-social-media-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links-button-flex{
    display: flex;
}

.social-links-button{
    background-color: #202020;
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Text size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.social-links-button a{
    color: #ebebeb;
}

.social-links-button-icon{
    font-size:  3.25em;
    padding-left: 14px;
    padding-top: 18px;
}

.social-links-button--icon--facebook::before{

}

@media (width >= 900px) {

}
